<%= form_for([@idea, @idea.comments.build]) do |f| %>
	<p>
		<%= f.label :user_id, value: current_user.first_name %><br>
	</p>
	<p>
		<%= f.label :body %><br>
		<%= f.text_area :body %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>