<!DOCTYPE html>
<html>
<head>
  <title>Collabor8</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
  <p class="notice"><%= notice %></p> <%# for devise - but what does it do? %>
  <p class="alert"><%= alert %></p> <%# for devise %>
</body>
</html>
