<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
      <title>Collabor8</title>

      <!-- Gettin' Meta -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <%= csrf_meta_tags %>

      <!-- iOS Icon -->
      <link rel="apple-touch-icon" href="apple-touch-icon.png">

      <!-- Stylesheets -->
      <%= stylesheet_link_tag 'application', media: 'all' %>

      <!-- Javascript -->
      <%= javascript_include_tag 'modernizr.min' %>
      <%= javascript_include_tag :application %>

      <!-- Page specific styles/js -->
      <%= yield :head %>

  </head>
  <body>

    <%= yield %>

  </body>
<!-- Commenting out Seaside's HTML due to merge conflict
will clean up later after merge is complete - Josh
<html>
<head>
  <title>Collabor8</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul class="hmenu">
  <%= render 'devise/menu/registration_items' %>
  <%= render 'devise/menu/login_items' %>
</ul>
  
<%= yield %>
  <p class="notice"><%= notice %></p> <%# for devise - but what does it do? %>
  <p class="alert"><%= alert %></p> <%# for devise %>
</body>
</html>

-->